{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>LAP - Home</title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<link rel="stylesheet" href="{% static 'css/index.css' %}" />
		<link rel="stylesheet"  href="{% static 'css/reset.css' %}" />
	</head>
	<body>
		<!-- Begin Wrapper -->
		<div id="wrapper">
		  
		  <!-- Begin Header -->
		  <div id="header">
			<form id="search" method="post">
				<input type="text" name="username" placeholder="Username">
				<input type="password" name="password" placeholder="Password">
				<input type="submit" value="Submit">
			</form>
			<h1>Los Angeles Phenology</h1>
		  </div>
		  <!-- End Header -->
		  
		  <!-- Begin Navigation -->
		  <div id="navigation"> 
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="map.html">Tree Map</a></li>
			</ul>
		  </div>
		  <!-- End Navigation -->
		  
		  <!-- Begin Left Column -->
		  <div id="leftcolumn"> 
			<div id="phenology">
				<img src="C:/Users/Kiara/Desktop/LAP/website/resources/eol.png" width="40" height="40"/><a href="http://eol.org/"  target="_blank" >Encyclopedia of Life</a> <br/>
			</div>
			<div id="phenology">
				<img src="C:/Users/Kiara/Desktop/LAP/website/resources/phenology_project_ca.png" width="40" height="40"/><a href="https://www.usanpn.org/cpp/"  target="_blank" >California Phenology Project</a> <br/>
			</div>
		  </div>
		  <!-- End Left Column -->
		  
		  <!-- Begin Right Column -->
		  <div id="rightcolumn"> 
			<div id="csula">
				<img src="C:/Users/Kiara/Desktop/LAP/website/resources/csula.gif" width="300" height="200"/>
			</div>
			<div id="intro">
				Libris eripuit lobortis vix at, ipsum utamur ei vel, no congue delenit sed. Lucilius convenire voluptatum ius te, ad decore labitur assueverit nec. Nulla persecuti te eam, eu sea oblique adipiscing intellegam. Ad simul quidam has. At duo rebum recusabo, ei eam soleat euismod adversarium, ea vix augue abhorreant.

Etiam nostrud ut his, labitur iuvaret vel at, usu bonorum inimicus ei. Nec id quod noluisse, pro solet virtute liberavisse an, has ei posse mundi. Consul verterem persequeris sea cu, te per diam mediocrem. Per ne sale ancillae deterruisset, dolorum invenire inimicus eos et.

Justo fugit est ne, odio vero vis ne, facilis efficiendi vim cu. Sit ad enim dolore populo. An his mentitum ponderum, eu cum dicunt appetere. Mea virtute fabulas ea. Ut mazim philosophia eum, ad eos tollit veritus. Ex magna ridens pro, his mnesarchum mediocritatem cu, mel an aliquid lucilius.

In putent mentitum usu, accusam maluisset cu his. No eos commodo dolorum repudiandae, minim hendrerit pri ne, ei qui iisque offendit. Vim at accusata laboramus conclusionemque, te per corpora oportere corrumpit. Ad mel enim nullam aliquip. Eu veri semper delicata has, nec in quot patrioque definitionem.

Per harum mnesarchum no, mea ut eripuit inermis molestiae, est stet lorem menandri ne. Omnes posidonium vis ut. Sumo mutat fierent at sea. At mei aliquip noluisse sadipscing, elitr cotidieque te cum.

Pro alia consulatu ex, mea congue philosophia necessitatibus ex, has inani vitae corpora an. Ad rebum dicant vel. Placerat sapientem conceptam ea est. Pri ea aperiam scaevola evertitur, id vis primis lucilius expetenda, ius meis ancillae id.

Ex usu probo epicurei complectitur. Ut cum prima oblique, no cum posse habemus quaestio, usu stet ubique pertinacia ei. At has volutpat patrioque, veritus iudicabit deterruisset qui ad, vim id eripuit assentior instructior. An quo repudiare hendrerit, congue nostrud meliore sed an. Malis dicit tation mei in. Neglegentur comprehensam duo ad, lorem senserit sapientem ei mel, ei dolorum verterem suavitate mea.

Ea mei saperet inermis, usu no oporteat accusamus. No erant deserunt oportere mei, ex nam sensibus vituperata. Per mutat vituperatoribus eu, eum ne suscipit ocurreret reprehendunt, simul pertinacia mea cu. Mea deserunt dissentiet no, pro ei dicta eligendi scaevola. Modus invenire ei cum. Quo affert munere no.

Per ea numquam democritum intellegebat, sed porro adolescens dissentias ea, ex eam vidit voluptua. Accumsan inimicus nec eu. Et lucilius dissentias nec, ex vocent imperdiet cum. Cum scriptorem referrentur ut, ea mea offendit intellegat. Ut epicuri theophrastus pro, esse meis salutatus no per, pro no aliquip accusam. No quidam vocibus posidonium nam, id essent equidem invenire pro.

Id mea omnes omittam. In pri volutpat disputationi, ne apeirian quaestio signiferumque pri, est ea vivendo tincidunt. Ne mandamus salutandi adversarium duo, cu illum nostrud mea. Utinam docendi ne vix.
      
			</div>
		  </div>
		  <!-- End Right Column -->
		  
		  <!-- Begin Footer -->
		  <div id="footer"> This is the Footer </div>
		  <!-- End Footer -->
		 </div>
		<!-- End Wrapper -->
		<div id="copyright">
			<div class="copyrightText">
				<p>&copy Yosemite National Park</p>
			</div>
		</div>
	</body>
</html>
