{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>LAP - Home</title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<link rel="stylesheet" href="{% static 'app/css/index.css' %}" />
		<link rel="stylesheet"  href="{% static 'app/css/reset.css' %}" />
	</head>
	<body>
		<!-- Begin Wrapper -->
		<div id="wrapper">
		  
		  <!-- Begin Header -->
		  <div id="header">
			<form id="search" method="post">
				<input type="text" name="username" placeholder="Username">
				<input type="password" name="password" placeholder="Password">
				<input type="submit" value="Submit">
			</form>
			<h1>Los Angeles Phenology</h1>
		  </div>
		  <!-- End Header -->

		  <!-- Begin Navigation -->
		  <div id="navigation"> 
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="map.html">Tree Map</a></li>
			</ul>
		  </div>
		  <!-- End Navigation -->
		  
		  <!-- Begin Left Column -->
		  <div id="leftcolumn"> 
			<div id="phenology">
				<img src="{{MEDIA_URL}}eol.png" width="40" height="40"/><a href="http://eol.org/"  target="_blank" >Encyclopedia of Life</a> <br/>
			</div>
			<div id="phenology">
				<img src="{{MEDIA_URL}}phenology_project_ca.png" width="40" height="40"/><a href="https://www.usanpn.org/cpp/"  target="_blank" >California Phenology Project</a> <br/>
			</div>
		  </div>
		  <!-- End Left Column -->
		  
		  <!-- Begin Right Column -->
		  <div id="rightcolumn"> 
			<div id="csula">
				<img src="{{MEDIA_URL}}csula.gif" width="300" height="200"/>
			</div>
			<div id="intro">
                <p>
                    Regione recusabo constituto an eum, reque detraxit eos ea, cu per summo honestatis. Cu eos ullum tacimates democritum. Ferri inimicus at vis, at autem oportere eam. Sit dicam tritani gubergren ut, mea no scripta ponderum. Laboramus tincidunt usu an. Vitae reformidans voluptatibus et has, an assum accusam eum.

Eam in scripta eripuit disputando, ceteros principes ea nec. Ut nam dolorum abhorreant, nusquam dissentiet per ut, omnes nominavi platonem ius in. Cibo possit convenire id est, in ludus persius praesent cum, congue aperiam eum te. No his ignota oblique eligendi. Te minim laboramus mea, mel an zril fabulas probatus. Pro autem ullum eu, mel in assentior reprehendunt.

Eu eam dolorum denique consulatu. Vel et affert graece, omnium tractatos eum cu. Affert nemore volutpat et vix, per et harum aliquando dissentias. Eum in dictas commune abhorreant, ea per mucius quaeque. Ut his offendit instructior intellegebat, cu velit repudiare theophrastus vel, wisi dicat laboramus vis te.

Ex sed appetere principes. Movet iudicabit reformidans ex pro, nullam ceteros sed ad. Has et molestie scribentur, nobis scripserit eum an. Id ferri molestiae nam.

Ne habemus legendos efficiantur qui, apeirian principes cum eu. No vim ocurreret abhorreant. Lucilius urbanitas repudiandae in vix, an pro summo ludus definiebas, modus viris elitr eu has. Scripta sententiae eu mei. His fierent iracundia ea.

Vis cu vituperata neglegentur. Eam ad augue facilis maiestatis. Vix in purto regione equidem. Per assum tantas ea, id sea illum gubergren.

Enim solum ubique ut vel, ex sea dictas accusam electram. Usu no munere petentium disputando, et facilis suavitate usu, cu mea quem hinc voluptatum. Graeco dolorem adipiscing id eos. Ius cu recteque conclusionemque, eu dicit postea pri. Usu legere meliore ad, magna phaedrum no quo. Ipsum fierent cotidieque his ad.

Vim in veniam praesent hendrerit, mundi feugait facilisi eu sed. Ei ius solet singulis, doming cetero accumsan mea ea. Reque graeco reformidans duo ex. Meis officiis mea id, cu maiorum detracto nec. Inermis posidonium eu vix. Laboramus deterruisset vim et. Ex sit vocibus minimum.

Mel eu nullam expetenda, ea iriure aperiam pri, alia ignota quodsi in pro. Pri ei amet iudico dolores, ei duo decore molestie consulatu, at mei aliquip mediocritatem. Cu possim detraxit accusamus his, tale dicta ad has, no tollit temporibus sed. Dolorum postulant est id, at qui erat aliquando. Voluptatum suscipiantur vis eu, ferri facilis probatus ex mel. Usu possim adipisci eu, debet nonumes mei te.

Prima vivendum convenire ne eam, quo inimicus torquatos at. Vis possim signiferumque an, congue homero iudicabit sea ea. Te augue movet has. Ei duo legimus abhorreant, ex populo singulis mel.
      
                </p>
			</div>
		  </div>
		  <!-- End Right Column -->
		  
		  <!-- Begin Footer -->
		  <div id="footer">
              <br/>
          </div>
		  <!-- End Footer -->
		 </div>
		<!-- End Wrapper -->
		<div id="copyright">
			<div class="copyrightText">
				<p>&copy Yosemite National Park</p>
			</div>
		</div>
	</body>
</html>
