{% load staticfiles %}
<html>
	<head>
		<title>LAP - Map</title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<link rel="stylesheet" href="{% static 'app/css/reset.css' %}" />
		<link rel="stylesheet" href="{% static 'app/css/map.css' %}" />
        
	</head>
	<body>
		<!-- Begin Wrapper -->
		<div id="wrapper">
		  <!-- Begin Header -->
		  <div id="header">

			<!-- Begin Tree Map -->
			<div id="googleMap"></div>   
              <script src="http://maps.googleapis.com/maps/api/js?callback=initialize"></script>          
              <script>
                  function initialize() {
                    csula = new google.maps.LatLng(34.0651, 118.1701);
                    var mapProperties = {
                        center: csula,
                        zoom: 5,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                    var map = google.maps.Map(document.getElementById("googleMap"), mapProperties);
                }
                google.maps.event.addDomListener(window, 'load', initialize);
             </script>
			<!-- End Tree Map -->
		  </div>
		  <!-- End Header -->
		  
		  <!-- Begin Tree List -->
		  <div id="treeList">
			
		  </div>
		  <!-- End Tree List -->
		  
		  <!-- Begin Footer -->
		  <div id="footer"> This is the Footer </div>
		  <!-- End Footer -->
		 </div>
		<!-- End Wrapper -->
	</body>
</html>
