{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>LAP - Trees</title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<link rel="stylesheet" href="{% static 'app/css/tree.css' %}" />
		<link rel="stylesheet" href="{% static 'app/css/reset.css' %}" />
	</head>
	<body>
		<!-- Begin Wrapper -->
		<div id="wrapper">
		  <!-- Begin Header -->
		  <div id="header">
		  </div>
		  <!-- End Header -->
		  
		  <!-- Begin Content -->
		  <div id="content"> 
			<div id="tree">
				<div id="treeImage">
					<img src="C:/xampp/htdocs/LAP/images/sycamore.jpg" width="300" height="200"/>
				</div>
				<div id="treeInfo">
					Libris eripuit lobortis vix at, ipsum utamur ei vel, no congue delenit sed. Lucilius convenire voluptatum ius te, ad decore labitur assueverit nec. 
					Nulla persecuti te eam, eu sea oblique adipiscing intellegam. Ad simul quidam has. At duo rebum recusabo, ei eam soleat euismod adversarium, ea vix augue abhorreant.
				</div>
			</div>
		  </div>
		  <!-- End Content -->
		  
		  <!-- Begin Footer -->
		  <div id="footer"> This is the Footer </div>
		  <!-- End Footer -->
		 </div>
		<!-- End Wrapper -->
	</body>
</html>
