<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>User Index</title>
</head>
<body>
    <div>{{ request.user.username }} <a href="{% url 'web:logout' %}">Logout</a></div>
    {% if object_list %}
    <p>there is something  in the group list</p>

    <!-- Only shows other users in the group if current logged in user is admin -->
    {% if request.user.is_staff %}
    {% for g in object_list %}
    <h2>
        {{ g.name }}
    </h2>
        {% for u in g.user_set.all %}
        <p><a href="{% url 'web:detail' u.username %}">{{ u.username }}</a></p>
        {% endfor %}
    {% endfor %}
    {% else %}
    <p><a href="{% url 'web:detail' request.user.username %}">{{ request.user.username }}</a></p>
    {% endif %}

    {% else %}
    <p>There is no group</p>
    {% endif %}
</body>
</html>