* { padding: 0; margin: 0; }

body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
}
#login  {
	float: right;
	padding-top: 10px;
}
#wrapper { 
 margin: 30px 0 0 225px;
 width: 922px;
 padding: 0 0 0 0;
}

#copyright{
	text-align: center;
	width: 900px;
	height: auto;
	margin-left: 200px;
}
.copyrightText {
	color: #FFFFFF;
}
#intro{
	padding: 10px 10px 10px 20px;
}
#csula{
	float: left;
	padding: 10px 20px 10px 10px;
}
#header {
 color: #333;
 width: 900px;
 float: left;
 padding: 10px;
 border: 1px solid #ccc;
 height: 50px;
 margin: 10px 0px 5px 0px;
 background:#D9ED8A;
}
#navigation {
 float: left;
 width: 900px;
 color: #FFFFFF;
 padding: 10px;
 border: 1px solid #ccc;
 margin: 0px 0px 5px 0px;
 background-color:#002217;
}
#phenology {
	display: block;
	text-decoration: none;
	padding-bottom: 10px;
}

#phenology img {
	display:blaock;
}
#leftcolumn { 
 color: #333;
 border: 1px solid #ccc;
 background:#D9ED8A;
 margin: 0px 5px 5px 0px;
 padding: 10px;
 height: 350px;
 width: 195px;
 float: left;
}
#rightcolumn { 
 float: right;
 color: #333;
 border: 1px solid #ccc;
 background:#D9ED8A;
 margin: 0px 0px 5px 0px;
 padding: 10px;
 height: 350px;
 width: 678px;
 display: inline;
 overflow-y: scroll;
}
#footer { 
 width: 900px;
 clear: both;
 color: #333;
 border: 1px solid #ccc;
 background-color:#F3F2ED;
 margin: 0px 0px 10px 0px;
 padding: 10px;
}

#search {
	float: right;
}

h1{
	text-align: center;
	color: #000000;
	font-size: 600px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 2.5em;
	padding-top: 10px;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

a {
	font-size: 1em;
}

li {
	float: left;
}

li a {
	display: block;
	width: 60px;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}

li a:hover {
	background-color: #000000;
}

.active {
	background-color: FF0000;
}